# Ignore compiled object files for C++
*.o
*.obj

# Ignore executables for C++
*.exe
*.out
*.app

# Ignore build directories
build/
bin/
Release/
Debug/

# Ignore any files generated during the build process
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore Lua cache files
*.luac

# Ignore any user-specific files
*.user
*.suo
*.swp
*.DS_Store